* {
    margin: 0 auto;
    padding: 0 auto;
}
p, h3, h4, h5 {
    color: black;
    font-size: xx-large;
}

body {
    background-color: darkslategray;
    
}

.card-body {
    background-color: rgb(123, 123, 167);
    border-radius: 5px;
    width: 1000px;
    max-height: 500px;
    position: absolute;
    text-align: center;
    top: 20vh;
    border: solid ;
}

.card-header {
    background-color: rgb(255, 228, 196);
    border-radius: 5px;
    top: 50px;
    position: absolute;
    border: double;
}
.card {
    background-color: darksalmon;
    height: 1000px;
    width: 1000px;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
}

#btnRetry {
    margin-top: 130px;
    width: 400px;
    height: 50px;
    font-size: 25px;
    border: outset rgb(71, 145, 145);
}

#deletePersonData {
    margin-top: 5px;
    width: 400px;
    height: 50px;
    font-size: 25px;
    border: outset rgb(71, 145, 145);
}
#btnRetry:active, #deletePersonData:active {
    background: linear-gradient(90deg, #C72B2B 0%, #AFD25B 10%, #A9EA78 22%, #57EFD4 34%, #4169EA 47%, #8C56E0 57%, #E32AEF 69%, #E41B92 80%, #E01A68 92%, #F50808 100%);
}

.col-md-6 {
    display: flex;
    margin: 0;
    padding: 0;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.row {
    justify-content: center;
}



